.main-section{
    width: 100%;
    max-width: 1040px;
    position: relative;

    .logo-and-search {
        position: fixed;
        z-index: 3;
        width: 100%;
        max-width: inherit;
        padding: 20px;
        background-color: rgb(18, 18, 18);

        .logo-and-auth {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin: 0 0 15px 0;

            .logo {
                font-family: 'Orbitron', sans-serif;
                text-shadow: 0 3px 6px rgba(255, 255, 255, 0.16);
                color: #ffffff;
                font-size: 30px;
                font-weight: 400;
                text-transform: uppercase; 
                text-align: left;   
                margin: 0;             
            }
    
            .auth-btn {
                padding: 10px 18px;
                border-radius: 4px;
                background-color: #3498db;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                line-height: 12px;
                border: none;
                cursor: pointer;
            }
        }


        .search-input {
            width: 100%;
            background-color: #fff;
            border-radius: 0;
            font-weight: 400;
            border: 0;
            margin: 0;
            padding: 0 20px;
            height: 52px;
            letter-spacing: 1px;
            font-size: 18px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.26)
            }
        }
    }

    .gifs {
        width: 100%; 
        padding: 140px 20px 20px 20px;       

        .gifs-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            padding: 0;
            margin: 20px 0 0 0;

            .gifs-item {
                position: relative;
                cursor: pointer;
               

                &:hover:after {
                    height: 50px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 0px;
                    background: linear-gradient(transparent, rgba(0, 0, 0, .5));
                    transition: height .2s ease-in-out;
                }

                &:hover:before {
                    height: 50px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 0px;
                    background: linear-gradient(rgba(0, 0, 0, .5), transparent);
                    transition: height .2s ease-in-out;
                }

                &:hover {
                    .like-btn {
                        transform: translateY(0);
                        opacity: 1;
                    }

                    .gifs-descr {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                .like-btn {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    z-index: 2;
                    height: 20px;
                    width: 20px;
                    padding: 0;
                    background: transparent;
                    cursor: pointer;
                    transform: translateY(-100%);
                    opacity: 0;                    
                    transition: all .2s ease-in-out;
                }

                .gifs-descr {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                    right: 15px;
                    z-index: 2;
                    text-align: left;
                    font-size: 14px;
                    transform: translateY(100%);
                    opacity: 0;
                    transition: all .2s ease-in-out;
                }

                .gifs-item-image {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    transition: all .3s ease-in-out;
                }

                &:nth-child(6n + 3) {
                    grid-column-start: 3;
                    grid-column-end: 5;
                }

                

                &:nth-child(6n + 4) {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }
        }

        .error {
            font-size: 20px;
            font-weight: 300;
            color: #fff;
            margin: 100px 0;
        }

        .loader {
            border: 16px solid rgba(52, 152, 219, .3);
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            margin: 100px auto;
            animation: spin 2s linear infinite;
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }

    .auth-dialog {
        position: fixed;
        left: -100%;
        top: 50%;
        z-index: 4;
        transform: translate(-50%, 0%);
        transition: all .2s ease-in-out;
    }

    .auth-dialog-open {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .overlay {
        background: rgba(0, 0, 0, .5);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 3;
    }
}

@media only screen and (max-width: 785px) {
    .main-section{
    
        .logo-and-search {
    
            .logo-and-auth {
    
                .logo {
                    font-size: 25px;         
                }
            }
        }

        .gifs {     
    
            .gifs-list {
                grid-template-columns: 1fr 1fr;

                .gifs-item {
    
                    &:after {
                        height: 50px;
                    }
    
                    &:before {
                        height: 50px;
                    }
    
                    .like-btn {
                        transform: translateY(0);
                        opacity: 1;                   
                    }
    
                    .gifs-descr {
                        transform: translateY(0);
                        opacity: 1;
                    }
    
                    &:nth-child(6n + 3) {
                        grid-column-start: initial;
                        grid-column-end: initial;
                    }
    
                    &:nth-child(3n) {
                        grid-column-start: 1;
                        grid-column-end: 3;
                    }
    
                    &:nth-child(6n + 4) {
                        grid-column-start: initial;
                        grid-column-end: initial;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .main-section{
    
        .logo-and-search {
    
            .logo-and-auth {
    
                .logo {
                    font-size: 22px;         
                }
            }
        }
    }
}